pui
*_autoload*
_act*
*.swp
*.tmp
._pylon.dat
.gd*
conf/used
tmp
cscop*
runtime/*
run/*
avatar_origin/*
_notes
.rigger.dat
rigger.log
rg.fail
nohup.out
_prj/tags
run.txt
run.log
_rg/.rigger-ng-v2.data
.DS_Store
node_modules/
config/index.js
npm-debug.log
yarn-debug.log
yarn-error.log
Dockerfile/dist*
Dockerfile/public*
Dockerfile/version.txt

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
